a {color: red}
body{
	font-family: Garamond, serif;
	margin: auto;
	padding:25px;
	max-width: 600px;
	font-size:18px;
	text-align: left;
	background-color:white;
  text-color
	position: relative;
}
body {color: black}


/*
Source - https://stackoverflow.com/a/41854998
Posted by Syden
Retrieved 2026-05-05, License - CC BY-SA 3.0
*/

div.NavBar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.NavBar div {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.icons {
  width: 150px;
  height: 150px;
}

table, th, td {
  border: 1 px solid black;
  border-collapse: collapse;
}

a{
	color:blue;
}

nav a, footer div a{
	margin:25px 5px;
}

footer{
	margin-top:40px;
	text-align: center;
}

body{
	font-family: Garamond, serif;
	margin: auto;
	padding:25px;
	max-width: 600px;
	font-size:18px;
	text-align: center;
	background-color:white;
	position: relative;
}

.ph-banner{
	font-family: Garamond, serif;
	background-color: black;
	color: white;
	padding: 4px;
	margin-bottom: 4px;
	text-align: center;
}





